.container {
    position: relative;
    top: -160px;
    display: flex;
    flex-direction: row;
    justify-content: center;


    align-items: center;
    height: 300px;
    width: 100%;
    margin-top: 200px;
    gap: 20px;


}

.button1 {
    background-color: black;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #000000;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    margin-bottom: auto
}

h2 {
    color: rgb(192, 177, 177);
    text-align: center;
    font-size: 30px;
    
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    margin-top: 30px;

}
body{
    
    background-color: #340909;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.button3 {
    position: relative;
    
    color: white;
    padding: 15px 32px;
    top: -100px;
    background-color: #6e6e6e;
    /* Green */
    text-align: center;
    font-size: 30px;

    font-family: 'Courier New', Courier, monospace;


     
}

.button3 a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    

}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.leftsquare {

    border: 4px solid black;
    width: 100px;
    height: 100px;
    padding: 100px;
    background-color: red;

}

.rightsquare {

    border: 4px solid black;
    width: 100px;
    height: 100px;
    padding: 100px;
    background-color: red;

}



/*     LEARNING 2 */


.login{
    background-color: rgb(32, 20, 24);
    align-items: center;
    
    font-size: 25px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 50px auto;

    
}
#aprovedLogin{
    position: fixed;
    top: 60%;
    left: 36%;
    font-size: 20px;
    color: white;
    display: none;
}

#mensagemLogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: green;
    background-color: #eaffea;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none; /* escondido por padrão */
    z-index: 1000;
  }

#myForm{
    margin-top: 40px;
    color:white;
}

.buttonLogin{
    background-color: green;
    width: 80px;
    height: 30px;
    display: flex;
    position: relative;
    left:70%;
    border: 2px solid black;
    margin-top: -30px;
    margin-bottom:30px;

}
